

.bet__button {
  width: 100px;
  height: 100px;
  background-color: white;
  background-size: 70%; /* To fill the dimensions of container (button), or */
  background-position: center;
  border-radius: 50%;
}
