

div.additional-info
  h2.text That is like a lottery, you need to buy virtual coins to participate or invite friends
  h2.text.additional-info--text Here is detailed information about ? bet.
  button(type='button' class='main-btn try-button') Try it!
