div.bets
  div.bet
    button(type='button' class='bet__button bet__image--small')
    p.bets__text Small bet
  div.bet
    button(type='button' class='bet__button bet__image--medium')
    p.bets__text Medium bet
  div.bet
    button(type='button' class='bet__button bet__image--large')
    p.bets__text Large bet
  div.bet
    button(type='button' class='bet__button bet__image--extralarge')
    p.bets__text XLarge bet
