

.bet__image-small {
  background: url('bet__image-small.jpg') no-repeat top left;
}

.bet__image-medium {
  background: url('bet__image-medium.jpg') no-repeat top left;
}


.bet__image-large {
  background: url('bet__image-large.jpg') no-repeat top left;
}

.bet__image-extralarge {
  background: url('bet__image-extralarge.jpg') no-repeat top left;
}
