extends common/layout

block content
  main.main
    div.containers__bets
      hr
      h2.text Select the bet to know more!
      hr
      include includes/index/bets/bets
      hr
      include includes/index/bets/__additional-info/bets__additional-info
